<div class="px-10">
    <h1 class="text-lg font-bold">About</h1>
    <p class="text-sm">Lorem ipsum dolor sit <span appHighlight> amet consectetur adipisicing</span>  elit. Omnis eius tenetur laboriosam praesentium quo sed animi placeat voluptas porro magni est doloribus, eligendi repudiandae illo provident officia, minus culpa eaque!</p>
    <p class="text-xs">
        Número de clientes   
        @if (duration() > 0) {
            <app-counter
            [duration]="duration()"
            [message]="message()"></app-counter>
        }
    </p>
    <div>
        <app-wave-audio audioURL="audio.mp3"/>
    </div>
</div>
<input type="number" [value]="duration()" (change)="changeDuration($event)"> 
<input type="text" [value]="message()" (change)="changeMessage($event)">

<app-cine [inputRows]="row" [inputCols]="col"/> 

